body, html {
    height: 100%;
    width: 100%;
}

img > a {
  border: none;
}

h1 {
    color: darkred;
    border: thick solid greenyellow;
    text-align: center;
}

.bi {
    background-image: url("imagendefondo2.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}